# Here we will integrate the metadata table with the img array

## Importing libraries

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy

from tensorflow.keras.preprocessing.image import ImageDataGenerator, load_img, img_to_array, array_to_img
#from tensorflow.keras.preprocessing import image
#import tensorflow.keras.optimizers
import cv2

## Loading the previously extracted csv table

In [4]:
#corroborating everything is ok
meta_df = pd.read_csv('../raw_data/image_metadata.csv')
meta_df.head()

                              file_name  age  gender  race    datetime
0  1_1_3_20161219225015272.jpg.chip.jpg    1       1     3  2016-12-19
1  1_0_0_20161219203503252.jpg.chip.jpg    1       0     0  2016-12-19
2  1_0_2_20161219204252348.jpg.chip.jpg    1       0     2  2016-12-19
3  1_1_0_20170109190844250.jpg.chip.jpg    1       1     0  2017-01-09
4  1_0_3_20161220220544050.jpg.chip.jpg    1       0     3  2016-12-20

## Converting and adding each image into an array

In [ ]:
#creating a function to add all image arrays to the table

In [6]:
#Method 1
def convert_array(name):
    img=load_img('../raw_data/UTK-face/UTKface_Aligned_cropped/UTKFace/'+name)
    img_array = img_to_array(img)
    
    return img_array

In [7]:

meta_df['img_array']=None
for name in meta_df[:10000].itertuples():
    meta_df['img_array'][name[0]]= convert_array(name[1])

/tmp/ipykernel_739/887917249.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_df['img_array'][name[0]]= convert_array(name[1])